html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;
}

.wrap {
  margin: 0 auto;
  max-width: 1366px;
}

header {
  height: 100%;
}

.title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F9FD;
}

.title .logo {
  z-index: 1;
}

.title .logo a img {
  margin: 24px 0 0 139px;
}

.title p {
  z-index: 1;
  width: 128px;
  height: 40px;
  background: #FF5D50;
  border-radius: 22px;
  color: #FFFFFF;
  margin-right: 140px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 375px) {
  .title {
    height: 72px;
    border-bottom: 1px solid goldenrod;
  }
  .title .logo {
    margin-left: 21.8px;
  }
  .title .logo a img {
    width: 128px;
    height: 24px;
    margin: 24px 0 24px 20px;
  }
  .title p {
    width: 128px;
    height: 40px;
    margin-right: 20px;
    background: #FF5D50;
    border-radius: 22px;
    font-size: 16px;
  }
}

.banner {
  background-color: #F7F9FD;
  height: 470px;
  border-radius: 0px 0px 0px 300px;
  margin-bottom: 100px;
}

.banner .talker {
  padding: 116px 0px 16px 139px;
  font-size: 48px;
}

.banner p {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 139px;
}

.banner .banner-img {
  margin-left: 460px;
  margin-bottom: 100px;
  height: 559px;
  position: absolute;
  top: 0;
}

.banner .banner-img-sm {
  display: none;
}

.banner .top {
  width: 71px;
  height: 71px;
  background: #56C4C5;
  position: fixed;
  bottom: 7%;
  right: 5%;
  z-index: 1;
  border-radius: 50%;
  text-align: center;
  line-height: 71px;
  border: 1px solid #56C3C5;
}

.banner .top a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.banner .ball-1 {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg);
  background-repeat: no-repeat;
  background-size: 361px;
  position: absolute;
  width: 361px;
  height: 361px;
  top: 53%;
  left: -20%;
}

@media (max-width: 375px) {
  .banner {
    background-color: #F7F9FD;
    z-index: -3;
  }
  .banner .banner-text {
    position: absolute;
    z-index: 999;
  }
  .banner .banner-text .talker {
    padding: 48px 0 16px 20px;
    font-size: 32px;
    text-align: left;
  }
  .banner .banner-text p {
    padding-left: 20px;
    font-size: 16px;
  }
  .banner .banner-img {
    display: none;
  }
  .banner .banner-img-sm {
    display: block;
    top: 11.5%;
    position: absolute;
    z-index: 1;
  }
  .banner .top {
    display: none;
  }
  .banner .ball-1 {
    background-size: 200px;
    width: 200px;
    height: 200px;
    top: 75%;
    left: -40%;
    z-index: -1;
  }
}

.program {
  width: 70%;
  margin: 0 auto;
}

.program h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
}

.program .area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program .area li {
  margin: 0px 8px;
  text-align: center;
  line-height: 250%;
  height: 50px;
  width: 15%;
  font-size: 18px;
  color: #56C4C5;
  background: white;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}

.program .area li:hover {
  color: white;
  background: #56C4C5;
}

.program .program-list {
  margin: 64px auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program .program-list .program-card {
  width: 48%;
  height: 535px;
  margin-bottom: 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
}

.program .program-list .program-card .program-title {
  padding: 24px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  font-size: 24px;
  text-align: center;
}

.program .program-list .program-card h3 {
  font-size: 16px;
  text-align: center;
  margin: 18px;
  line-height: 150%;
}

.program .program-list .program-card p {
  font-size: 16px;
  margin: 10px 21.5px;
}

.program .program-list .program-card a {
  display: block;
  text-align: center;
  margin-top: 32px;
  margin-left: 159px;
  color: white;
  background: #56C4C5;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  font-size: 18px;
  width: 136px;
  height: 49px;
  padding: 12px;
  text-decoration: none;
}

.program .program-list .program-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 32px;
}

.program .program-list .program-box .program-box-area {
  width: 169px;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  border-radius: 12px;
}

.program .program-list .program-box .program-box-area h4 {
  margin: 16px 0px;
}

.program .program-list .program-box .program-box-area .porgram-color {
  font-size: 32px;
  color: #56C4C5;
}

.program .program-list .program-box .program-box-area .porgram-color span {
  margin-left: 8px;
  font-size: 12px;
}

.program .program-list .program-box .prgoram-box-mid {
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program .program-list .program-box .program-box-money {
  width: 169px;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5F5F5;
  border-radius: 12px;
}

.program .program-list .program-box .program-box-money h4 {
  margin: 16px 0px;
}

.program .program-list .program-box .program-box-money p {
  font-size: 32px;
}

.program .program-list .program-box .program-box-money span {
  margin-left: 8px;
  font-size: 12px;
}

@media (max-width: 375px) {
  .program {
    width: 95%;
  }
  .program h2 {
    font-size: 26px;
  }
  .program .area li {
    width: 20%;
    margin: 0 1px;
    font-size: 12px;
    line-height: 350%;
  }
  .program .program-list {
    width: 95%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .program .program-list .program-card {
    width: 100%;
  }
  .program .program-list .program-card p {
    font-size: 12px;
  }
  .program .program-list .program-card a {
    margin-left: 100px;
  }
  .program .program-list .program-box .program-box-area .porgram-color {
    font-size: 24px;
  }
  .program .program-list .program-box .program-box-money p {
    font-size: 12px;
  }
}

.question {
  width: 70%;
  margin: 0 auto;
}

.question h3 {
  text-align: center;
  font-size: 32px;
}

.question .question-list {
  padding-left: 32px;
  margin: 8px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  font-size: 18px;
}

.question .question-list h4 {
  margin: 16px 0 16px 32px;
}

.question .question-list p {
  margin-left: 32px;
}

.question .question-list img {
  font-size: 20px;
  margin-right: 32px;
}

.question .question-list .question-list-ans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.question .question-list .question-list-ans h4 {
  color: #56C4C5;
  margin: 24px 32px;
}

.question .question-list .question-list-ans p {
  margin: 4px 32px;
  color: #747474;
}

@media (max-width: 375px) {
  .question {
    width: 95%;
  }
  .question h3 {
    font-size: 28px;
  }
  .question .question-list h4 {
    margin-left: 0px;
    font-size: 16px;
  }
  .question .question-list .question-list-ans h4 {
    margin-left: 0px;
    font-size: 16px;
  }
  .question .question-list .question-list-ans p {
    margin-left: 0px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=work-2.css.map */